h1 {
  padding-top: 20px;
}
h2 {
  font-size: 44px;
  padding-top: 0px;
  margin: 0px;
}
ul {
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 0px 30px 0px;
}
li {
  margin: 7px 0px;
}
.body {
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  padding: 10px 20px 20px 20px;
  max-width: 450px;
  margin: 10px auto;
  font-family: "Poppins", sans-serif;
  border-radius: 3%;
  color: rgb(214, 211, 211);
}
.search-city {
  margin-bottom: 5px;
}
.btn {
  background: #969494;
  color: white;
  border: none;
}
.btn:hover {
  background: #318bac;
}
.date {
  font-size: 12px;
  opacity: 0.7;
}
.sunrise {
  font-size: small;
}

.today {
  font-size: 10px;
}
.low {
  color: #fff;
  background: #40aa48;
  border: solid 1pt #40aa48;
  padding: 1px 5px;
  border-radius: 100%;
}
.weather-icon {
  text-align: right;
}
.temperature-details {
  text-align: right;
}
.forecast {
  padding-bottom: 10px;
}
.next-week {
  width: fit-page;
}
.days {
  border: none;
  border-radius: 23%;
  margin: auto;
  text-align: center;
  padding: 5px;
  background: #969494;
  color: white;
  font-weight: 200;
}
.current-temperature {
  font-size: 66px;
  text-align: left;
}

.unit {
  font-size: 12px;
  margin: 0;
  padding: 5px 12px 0px 0px;
  text-align: right;
}
.unit:hover {
  cursor: pointer;
}
.current-location {
  text-decoration: none;
  padding: 5px;
  font-size: 12px;
  color: rgb(214, 211, 211);
}
.celcius,
.farenheit {
  text-decoration: none;
  color: rgb(214, 211, 211);
}
.current-location:hover {
  color: #3195b2;
}
.celcius:hover,
.farenheit:hover {
  color: #ec886d;
}
.source {
  max-width: 450px;
  padding-left: 10px;
  margin: 10px auto;
  font-family: "Poppins", sans-serif;
  border-radius: 3%;
  font-size: 12px;
}
.source-link {
  text-decoration: none;
}
.weather-description {
  font-size: 20px;
  text-align: right;
  padding: 0px 20px 30px 0px;
}
.weather-description::first-letter {
  text-transform: capitalize;
}
